apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kserve-models-web-app
  namespace: kserve
  {{- with .Values.ingressAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.host }}
    secretName: kserve-models-web-app-tls
  rules:
  - host: {{ .Values.host }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: kserve-models-web-app
            port:
              number: 80
