name: Docker Build
run-name: Docker Build - ${{ github.event.inputs.project }} - ${{ github.event.inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Tag"
        required: true
        type: string
      project:
        description: "Dockerfile"
        required: true
        type: choice
        options:
          - vllm-1050ti
jobs:
  docker:
    strategy:
      matrix:
        platform: ['linux/amd64']

    runs-on: ${{ matrix.platform == 'linux/amd64' && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}

    permissions:
      actions: read
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and cache Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./src/docker/${{ inputs.project }}
          platforms: ${{ matrix.platform }}
          tags: ghcr.io/alinflorin/${{ inputs.project }}:${{ inputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: VERSION=${{ inputs.version }}
          load: true
          push: true